/* ------ filtrey
-----------------------------------------------*/

.filters {
    float: left;
    clear: both;
    width: 1000px;
}

.filters .filter {
    width: 317px;
    margin: 0 auto 20px auto;
    height: 46px ;
}

.filters .filter a {
    float: right;
    display: block;
    padding: 5px;
    margin-right: 20px;
    font: 18px IRANSans-web;
    border-radius: 3px;
    text-transform: uppercase;
    outline: none;
    color: #7f8c8d;
    text-decoration: none;
}

.filters .filter .active {
    background: #e74c3c;
    color: #fff;
}

.filters .containers {
    float: left;
    clear: both;
    width: 100%;
    position: relative;
    margin:0 0 0 65px
}

.filters .containers ul,
.filters .containers ul li {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.filters .containers ul li {
    float: left;
    margin: 0 20px 20px 0;
    font-size: 0;
    line-height: 0;
}

.filters .containers a {
    display: block;
    float: left;
    width: 192px;
    height: 192px;
    color: #7f8c8d;
    text-decoration: none;
}
